.Newshome{
    width:70%;
   /* border:2px solid red; */
    margin:auto;
}

.NewshomePageNews{
    display: flex;
    /* border:2px solid red; */
    margin:auto;
    width:75%;
    gap:15px;
    margin-top: 15px;
    margin-bottom: 35px;
}
.Newsbox1{
    border:1px solid silver;
    width:70%;
    display: block;
    /* height:3515px; */
    border-bottom:none
   
}
.Newsbox2{
    /* border:1px solid black; */
    width:25%;
   
}
.displayFlex>img{
    height:200px;
    width:300px;
    border-radius: 8px;
}
.displayFlex{
    display: flex;
    gap:10px;
    border:1px solid silver;
    margin-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 4px;
}
.headingpara{
    display: block;
}
.headingpara>h1{
    text-align: left;
    font-size: 20px;
    color: black;
    font-weight:600 ;
}
.headingpara>p{
    text-align: left;
    font-size: 16px;
}